.course-page{
    background-color: #b3cde0;
}

.courseHeading{
    color: black;
    font-size: 27px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 12px;
    
}

.backSec{
    background-color: white;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

}

.back{
    color: black;
    display: flex;
}

.mainSection{
    background-color: #b3cde0;
}

.courseContainer{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

.courseGrid{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-columns: 70% 30%;
    gap: 15px;
}

.courseCard{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px lightslategrey;
}

.courseType{
    color: gray;
    margin-bottom: 10px;
    padding-left: 15px;
}

.courseDetailsCard{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px lightslategrey;
    margin-top: 25px;
}

.courseCard2Head{
    color: #011f4b;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;    
    padding-left: 15px;
    padding-top: 5px;
}

.courseDetails{
    padding-left: 15px;
    margin-bottom: 10px;
}



